.addressBookCmpt {

}

.addressBookCmpt .title {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

.addressBookCmpt .user {
  transition: all ease 0.3s;
}

.addressBookCmpt .user:hover {
    background-color: #ebebeb;
    cursor: pointer;
} 

.addressBookCmpt .user.active {
  filter: blur(1px);
  background-color: #ccc;
}
